:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.75rem;
}

h2 {
  font-size: 3.5rem;
}

p {
  font-size: 1.25rem;
}

.page-container {
  min-height: 100vh;
  width: 100%;
  background: rgb(43, 228, 94);
  background: linear-gradient(
    0deg,
    rgba(43, 228, 94, 1) 27%,
    rgba(0, 255, 224, 1) 100%
  );
  display: grid;
  place-content: center;
  color: #ffffff;
}

.page-content {
  border: 14px solid #ffffff;
  border-radius: 14px;
  min-height: 85vh;
  max-width: 90vw;
}

.top-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.greeting,
.image-container {
  width: 50%;
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting > * {
  margin: 12px;
  width: 60%;
}

.greeting > h1 {
  text-align: center;
}

.greeting > h2 {
  text-align: center;
}

.image-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 32px;
  padding: 12px;
}

.image-container > img {
  width: 18rem;
  height: 18rem;
}

.bottom-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px;
}

@media only screen and (max-width: 72rem) {
  :root {
    font-size: calc(100vw * 14 / 1440);
  }

  h1 {
    font-size: 4.25rem;
  }

  h2 {
    font-size: 3.15rem;
  }
}

@media only screen and (max-width: 48rem) {
  :root {
    font-size: calc(100vw * 14 / 360);
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  .page-container {
    padding: 2rem;
    width: 100vw;
    height: 100%;
  }

  .page-content {
    min-height: 85vh;
    max-width: 80vw;
  }

  .top-content {
    flex-direction: column-reverse;
    align-items: center;
  }

  .greeting {
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: 24px;
  }

  .greeting > * {
    width: 100%;
    margin: 2px;
  }

  .image-container {
    width: 100%;
    border-radius: 0;
  }

  .bottom-content {
    padding: 24px;
  }
}

/* @media only screen and (max-width: 512px) {
  
} */
